@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,700&display=swap");

body {
  background-color: #f5a9e7;
  font-family: "Lato", sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

article {
  padding: 1rem;
  border: 1px solid red;
  border-radius: 15px;
}

img {
  max-width: 100%;
}

ul {
  display: flex;
  justify-content: flex-start;
}

li {
  padding: 1rem 2rem;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #de3283;
}
