@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

body {
  /* background-color: #f5a9e7; */
  background-color: #e3cade;
  font-family: "Lato", sans-serif;
}

main {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

header {
  margin: 2rem;
}

article {
  padding: 1rem;
  border-radius: 15px;
  background-color: #d1abc9;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  /* --card-gradient: #5e9ad9, #e271ad;
  background-image: linear-gradient(
    var(--card-gradient),
    white max(30rem, 27vh)
  ); */
}

img {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  object-fit: cover;
  /* aspect-ratio: 4/3; */
  height: max(20rem, 30vh);
  /* mix-blend-mode: overlay; */
}

ul {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

li {
  /* padding: 1rem 2rem; */
  list-style: none;
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 2rem;
}

a {
  text-decoration: none;
  color: #591d4e;
  font-family: "Montserrat", sans-serif;
}

.active {
  font-weight: 700;
}

.active:hover {
  color: #591d4e;
}

article > a {
  display: inline-block;
  padding: 1rem 0;
}

a:hover {
  color: #ba3864;
}
